[submodule "output"]
	path = output
	url = https://github.com/ektar/ektar.github.io.git
[submodule "themes/octopress"]
	path = themes/octopress
	url = https://github.com/jakevdp/pelican-octopress-theme.git
[submodule "plugins/pelican-ipynb"]
        path = plugins/pelican-ipynb
        url = https://github.com/danielfrg/pelican-ipynb.git
